[Unit]
Description=Read and log Magmum Inverter to Influx database
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Programs/MagnumMonitor.py
# Required on some systems
WorkingDirectory=/home/pi/Programs/
Restart=always
# Restart service after 30 seconds if node service crashes
 RestartSec=30
# Output to syslog
# StandardOutput=syslog
# StandardError=syslog
# SyslogIdentifier=solar_magnumInverter

[Install]
WantedBy=multi-user.target
